.chats-grid{
    display: grid;
    width:100vw;
    height:90vh;
    grid-template-columns:2fr 5fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "navbar main"
                         "navbar main"
                         "navbar form";
}

.chats-grid section.navbar{
    /*position: fixed;*/
    grid-area: navbar;
    background: linear-gradient(-90deg,#09404d, #4eacc2);
}
.chats-grid section.navbar .search{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: red;*/
    font-size:1.3em;
    border-bottom:1px solid rgba(255,255,255,0.5);
}
.chats-grid article{
    /*height: 80vh;*/
    grid-area:main;
    overflow-y: scroll;
}
.chats-grid article form{
    grid-area: form;
}

.chatlink{
    text-decoration: none;
    font-size:1.3em;
    color:inherit;
}